body
{
    background-color: rgb(4, 4, 17);
    
}

ul 
{
    float: left;
    width: 100%;
    padding: 0;
    margin-top: 10px;
    list-style: none;
    margin-left: 300px;
}
    
li a 
{
    float: left;
    background-color: rgb(4, 4, 17);
    width: 220px;
    color: rgb(194, 194, 194);
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    height: 40px;
    text-decoration: none;
    top: 50%;
}
    
li a:hover 
{
    background-color:rgb(83, 200, 230);
    color: black;
    text-decoration: none;
    border-radius: 20px;
}

h1
{
    color: white;
    font-size: 35px; 
}

h2
{
    color: white;
    font-size: 25px;
    margin: 40px;     
}

h3
{
    color: white;
    font-size: 20px;
    margin: 40px;
    word-spacing: 3px;
    text-decoration: none;
}

a:hover
{
    color: white;
}

hr
{
    width: 90%
}

.content
{
    height: 700px;
    padding-top: 100px;
}